*{
    font-family: 'Space Mono', monospace;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.flex-container div{
    background-color: lightgray;
    border: 3px solid white;
    cursor: pointer;
}

.flex-container div:hover{
    color: white;
    background-color: black;
}